.row
  .col-sm-10.col-sm-offset-1.col-xs-12
    .col-sm-5.col-md-6
      = image_tag 'egor-avatar.jpg', class: "width-100"
    .col-sm-5.col-md-5
      %h4.h3-name
        Егор Жилинский

      %table.table
        %tr
          %td
            Знаком с руби
          %td
            2.7 года
        %tr
          %td
            Руби Он Рейлс
          %td
            1.8 года
        %tr
          %td
            HTML, CSS, JS
          %td
            2.5
        %tr
          %td
            AngularJS
          %td
            0.4
  .col-sm-10.col-sm-offset-1.col-xs-12
    "Скачать резюме"
  .col-sm-10.col-sm-offset-1.col-xs-12
    %h4
      Краткая биография

    .col-xs-12
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        %footer
          Someone famous in
          %cite{:title => "Source Title"} Source Title
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        %footer
          Someone famous in
          %cite{:title => "Source Title"} Source Title
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        %footer
          Someone famous in
          %cite{:title => "Source Title"} Source Title
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        %footer
          Someone famous in
          %cite{:title => "Source Title"} Source Title
      %blockquote
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
        %footer
          Someone famous in
          %cite{:title => "Source Title"} Source Title
        