.row
  %form.col.s12
    .row
      .input-field.col.s12
        %input#first_name.validate{:type => "text"}/
        %label{:for => "first_name"} First Name
    .row
      .input-field.col.s12
        %input#password.validate{:type => "password"}/
        %label{:for => "password"} Password
    .row
      .input-field.col.s12
        %input#email.validate{:type => "email"}/
        %label{:for => "email"} Email